In [ ]:
#gán giá trị có biến
x=1000

#In ra giá trị của biến savings
print(x)

1000

In [ ]:

savings = 1000

factor   = 1.1

result = savings * factor ** 15

print (result)

4177.248169415656

In [ ]:
desc = 'Data Science'
profitable = True
a =10
print(type(a))

<class 'int'>

In [ ]:
print(type(savings))
print(type(factor))
print(type(desc))
print(type(profitable))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
savings = 1000
factor = 1.10
desc = "Data Science"

year1 = savings * factor

print(type(year1))

doubledesc = desc * 2

print(doubledesc)

<class 'float'>
Data ScienceData Science

In [ ]:
savings = 1000
result = 1000 * 1.10 ** 15
print("Tôi gửi ngân hàng $" + str(savings) + ", sau 15 năm, bây giờ tôi đã có $" + str(result) + ". Tuyệt vời!")
pi_string = "3.1415926"
pi_float = float(pi_string)

Tôi gửi ngân hàng $1000, sau 15 năm, bây giờ tôi đã có $4177.248169415656. Tuyệt vời!

In [ ]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
areas = [hall, kit, liv, bed, bath]
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5]

In [ ]:
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
areas = [hall, kit, "living room", liv, bed, "bathroom", bath]
print(areas)

[11.25, 18.0, 'living room', 20.0, 10.75, 'bathroom', 9.5]

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]


print(areas[1])

print(areas[-1])

print(areas[5])

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

eat_sleep_area = areas[3] + areas[-3]

print(eat_sleep_area)

28.75

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# tổng diện tích của kitchen và bedroom: eat_sleep_area
eat_sleep_area = areas[3] + areas[-3]

# in ra giá trị của eat_sleep_area
print(eat_sleep_area)

In [ ]:
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]


downstairs = areas[0:6]


upstairs = areas[6:-1]

print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom']